{% extends 'base/school_base.html' %}
{% block head %}<title>Transfers - Kangaroo Music</title>{% endblock %}
{% block school_body %}
<div class="container">
    <h1><b>Transfers</b></h1>
    <p>View transfers within the management system.</p>
    <hr class="border border-dark border-2 opacity-100">
    
    <h2>Transfer List</h2>
    <div class="list-group">
        {% for transfer in transfers %}
            {% include 'partials/transfer.html' with transfer=transfer %}
        {% endfor %}
    </div>
</div>
{% endblock %}