{% extends 'base/school_base.html' %}
{% block school_body %}
<div class="container">
    <h1>Music School Management System Director Panel</h1>
    <hr>
    <p>Welcome {{ user.first_name }} {{ user.last_name }}! You can manage the administrators within the management system.</p>
    <h2>Administrator List</h2>
    <div class="list-group">
        {% for admin in administrators %}
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ admin.first_name }} {{ admin.last_name }}</h5>
                </div>
                <p class="mb-1">{{ admin.email }}</p>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}