<li class="list-group-item d-flex justify-content-between align-items-start px-2 rounded-3 mb-3 shadow-sm">
    <div class="ms-2 me-auto">
        <span class="badge badge-secondary mb-2"
              style="background-color: black;"> {{ l.student.first_name }} {{ l.student.last_name }}</span>

        {% if l.fulfilled %}
            <span class="badge rounded-pill bg-primary mb-2">{{ l.payment_status }}</span>
        {% endif %}

        <div class="fw-bold mb-2">{{ l.title }} - {{ l.instrument }}</div>
        <p class="text-muted mb-2">{{ l.information }}</p>
    </div>
    <i class="bi bi-person-fill" style="padding-right: 5px;"></i> {{ l.teacher }} &nbsp;
    <i class="bi bi-clock-fill" style="padding-right: 5px;"></i>{{ l.duration }}m&nbsp;
    &nbsp;
    <a class="btn btn-light btn-sm" href="{% url 'modify_lesson' school.id l.id %}"><div class="bi bi-pencil"> Modify</div></a>
    &nbsp;
    {% if l.fulfilled %}
        <a class="btn btn-light btn-sm" href="{% url 'booking_invoice' school.id l.id %}"><div class="bi bi-receipt"> Invoice & Transfers</div></a>
    {% else %}
        <a class="btn btn-light btn-sm" href="{% url 'fulfill_lesson' school.id l.id %}"><div class="bi bi-receipt"> Fulfill</div></a>
    {% endif %}
</li>