<nav class="navbar navbar-expand-lg navbar-dark bg-black py-3 my-1 ms-1 me-1 rounded-3 sticky-sm-top border border-dark" style="--bs-bg-opacity: .7; backdrop-filter: blur(10px) saturate(125%); top: 0.25em;">
    <div class="container-fluid mx-auto">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                {% if not user.is_authenticated %}
                    <div class="navbar-nav">
                        <a class="navbar-brand" href="{% url 'index' %}">
                            <span class="navbar-brand mb-0 h1">Kangaroo Music</span>
                        </a>
                    </div>
                    <div class="navbar-nav ms-auto">
                        <a class="btn btn-outline-light mx-1 btn" role="button" href="{% url 'login' %}">Log In</a>
                        <a class="btn btn-outline-light mx-1 btn" role="button" href="{% url 'register' %}">Register</a>
                    </div>
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="navbar-nav">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <span class="navbar-brand mb-0 h1">Kangaroo Music</span>
                        </a>
                    </div>
                    <div class="navbar-nav ms-auto">
                        <span class="navbar-brand mb-0 h1">Logged in as: {{user.name}}&nbsp&nbsp&nbsp&nbsp Reference Number: {{user.id}}&nbsp&nbsp&nbsp</span>
                        <a class="btn btn-outline-light mx-1 btn" role="button" href="{% url 'log_out' %}">Log Out</a
                    </div>
                {% endif %}
        </div>
    </div>
</nav>
