{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bd-navbar sticky-top bd-gutter py-3 flex-wrap flex-lg-nowrap"
     style="background-color: #8b572d;">
    <div class="container-fluid">

        <a class="navbar-brand " href="{% url 'index' %}">
            <img src="{% static 'kangaroo_logo.svg' %}" alt="Kangaroo Music" width="30" height="25"
                 class="d-inline-block align-text-top">
            <span class="navbar-brand h1 fs-4 text-decoration-underline"><b>Kangaroo Music</b></span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'home' %}">Home</a>


                    {% for group in user.groups.all %}

                        {% if group.name == 'User' %}
                            <a class="nav-link" href="{% url 'edit_profile' user.id %}">Edit Profile</a>
                        {% endif %}

                        {% if group.name == 'Adult-user' %}
                            <a class="nav-link" href="{% url 'children' %}">Children</a>
                        {% endif %}

                        {% if group.name == 'Director' %}
                            <a class="nav-link" href="{% url 'create_school' %}">Create School</a>
                        {% endif %}

                        {% if group.name == 'System-administrator' %}
                            <a class="nav-link" href="{% url 'create_director' %}">Create Director</a>
                        {% endif %}


                    {% endfor %}

                    <span class="navbar-text">&nbsp&nbspLogged in as: {{ user.first_name }} {{ user.last_name }}&nbsp&nbsp</span>
                    <a class="btn btn-outline-light mx-1 btn-sm pt-2" role="button" href="{% url 'log_out' %}">Log Out</a>
                {% else %}
                    <a class="btn btn-outline-light mx-1 btn-sm py-2" role="button" href="{% url 'log_in' %}">Log In</a>
                    <a class="btn btn-outline-light mx-1 btn-sm py-2" role="button" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </div>

    </div>
</nav>