{% extends 'base/base.html' %}
{% block body %}
    {% include 'partials/navbar.html' %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card shadow">
                    <div class="card-title text-center border-bottom">
                        <h2 class="p-3"><b>Delete School</b></h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="mb-4">
                                <label class="form-label">{{ field.label }}</label>
                                <input type="{{ field.field.widget.input_type }}"
                                        {% if field.field.widget.input_type == 'checkbox' %}
                                       class='form-check form-switch form-check-input'
                                       value="{{ field.value }}"
                                        {% else %}
                                       class="form-control"
                                       value="{{ field.value|default:'' }}"
                                        {% endif %}
                                       name="{{ field.name }}"
                                       id="id_{{ field.name }}"

                                />
                                <p class="help-text">{{ field.help_text }} </p>
                            </div>
                        {% endfor %}
                            <div class="d-grid">
                                <input type="submit" value="Delete" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}