{% extends 'base/school_base.html' %}
{% block head %}<title>{{ school.name }} - Kangaroo Music</title>{% endblock %}
{% block school_body %}

    {% if is_banned %}
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Warning!</h4>
          <p>You are banned from this music school.</p>
          <hr>
          <p class="mb-0">Please contact the director for more information.</p>
        </div>
    {% endif %}
    
    <h1><b>{{ school.name }}</b></h1>
    <h3 class="text-muted"><b>Director: {{ school.director }}</b></h3>
    <h4 class="text-muted"><b>School ID: {{ school.id }}</b></h4>
    <hr class="border border-dark border-2 opacity-100">

    <blockquote class="blockquote">
        <p style="text-align: justify">{{ school.description }}</p>
    </blockquote>
    <hr class="border border-dark border-2 opacity-100">

    {% if is_not_director %}

        <form method="post">
            {% csrf_token %}
            {% if in_school %}
                <input type='hidden' name='follow' value=''>
                <input type="submit" value="Leave School" class="btn btn-danger">
            {% else %}
                <input type='hidden' name='follow' value='True'>
                <input type="submit" value="Join School" class="btn btn-primary">
            {% endif %}
        </form>

    {% endif %}

{% endblock %}
