{% extends 'base/school_base.html' %}
{% block school_body %}
<div class="container">
    <h1>Music School Management System Administrator Panel</h1>
    <hr>
    <p>Welcome {{ user.first_name }} {{ user.last_name }}! You can manage student bookings within the management system.</p>
    <h2>Student List</h2>
    <div class="list-group">
        {% for student in students %}
            <a href="{% url 'manage_student' school.id student.id %}"
               class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    {% if student.is_active == True %}
                        <h5 class="mb-1">{{ student.first_name }} {{ student.last_name }}</h5>
                    {% endif %}
                    {% if student.is_active == False %}
                        <h5 class="mb-1">{{ student.first_name }} {{ student.last_name }} BANNED</h5>
                    {% endif %}
                </div>
                <p class="mb-1">{{ student.email }}</p>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}