{% extends 'base/base.html' %}
{% block head %}<title>Change Password - Kangaroo Music</title>{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card shadow">
                    <div class="card-title text-center border-bottom">
                        <h2 class="p-3"><b>Change Password</b></h2>
                    </div>
                    <div class="card-body">
                        {% if form.errors %}
                            <div style="color: red;">
                                {% for key, error in form.errors.items %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-4">
                                <label class="form-label" for="id_old_password">Enter Old Password</label>
                                <input type="password" name="old_password" autocomplete="new-password"
                                class="form-control" required id="id_old_password"/> 
                            </div>
                            <div class="mb-4">
                                <label class="form-label" for="id_new_password1">Enter New Password</label>
                                <input type="password" name="new_password1" autocomplete="new-password"
                                class="form-control" required id="id_new_password1"/>
                            </div>
                            <div class="mb-4">
                                <label class="form-label" for="id_new_password2">Confirm New Password</label>
                                <input type="password" name="new_password2" autocomplete="new-password"
                                required id="id_new_password2" class="form-control"/>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary" id="reset">Update Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}