{% extends 'base/school_base.html' %}
{% block head %}<title>Manage Student - Kangaroo Music</title>{% endblock %}
{% block school_body %}
    <div class="row justify-content-center mt-5">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card shadow">
                <div class="card-title text-center border-bottom">
                    <h2 class="p-3"><b>UPDATE</b></h2>
                    <h6 class="card-subtitle mb-2 text-muted">Banning a user will ban all children belonging to the
                        user.</h6>
                </div>
                {% include 'partials/form.html' with form=form %}
            </div>
        </div>
    </div>

{% endblock %}