{% extends 'base/base.html' %}
{% block head %}<title>Register - Kangaroo Music</title>{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="card shadow">
                <div class="card-title text-center border-bottom">
                    <h2 class="p-3"><b>REGISTER</b></h2>
                    <h6 class="card-subtitle mb-2 text-muted">Hey, so you are now ready to sign up to the system! Just
                        fill in your details and if you would like to teach with in the system, then fill in what instruments
                        you can teach. You can join a music school as a client and further ask the director that
                        you would like to be a teacher or and administrator.</h6>
                </div>

                {% include 'partials/form.html' with form=form %}

                <div class="card-footer border-0 bg-light d-flex py-3 justify-content-center">
                    Already have an account?&nbsp;<a href="{% url 'log_in' %}"><b>Login</b></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
