{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1>Music School Management System</h1>
        <hr>
        <p>Welcome! You can sign up to lessons here and view any pending requests or bookings you may have.</p>
        <a class="btn btn-primary" href="/lessons/request">Request Lesson</a>
        
    </div>
    <div class="mt-2 container">
        <ul class="list-group list-group-light">
            {% for l in lessons %}
            <li class="list-group-item d-flex justify-content-between align-items-start px-2 rounded-3 mb-3 shadow-sm">
                <div class="ms-2 me-auto">
                  <div class="fw-bold mb-2">{{ l.title }}</div>
                  <div class="mb-2" style="font-size: 1rem;">
                    <i class="bi bi-person-fill" style="padding-right: 5px;"></i>TEACHER &nbsp;
                    <i class="bi bi-clock-fill" style="padding-right: 5px;"></i>{{ l.duration }}m&nbsp;
                  </div>
                  <p class="text-muted mb-2">{{ l.information }}</p>
                  <a class="btn btn-outline-secondary btn-sm" href="#"><i class="bi bi-pencil" style="padding-right: 5px;"></i>Modify</a>
                </div>
                {% if l.fulfilled is False %}
                    <span class="badge rounded-pill" style="background-color: orange;">REQUESTED</span>
                {% else %}
                    <span class="badge rounded-pill bg-success">BOOKED</span>
                {% endif %}
              </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
