{% extends 'base/base.html' %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card shadow">
                    <div class="card-title text-center border-bottom">
                        <h2 class="p-3"><b>REGISTER AS TEACHER</b></h2>
                    </div>
                    <div class="card-body">
                        {% for message in messages %}
                            <p style="color: red;">
                                <b>{{ message }}</b>
                            </p>
                        {% endfor %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="mb-4">
                                    <label class="form-label">{{ field.label }}</label>
                                    {% for error in field.errors %}
                                        <p style="color: red;">
                                            <strong>{{ error }}</strong>
                                        </p>
                                    {% endfor %}
                                    <div class="form-group">
                                        {{ field }}
                                    </div>
                                    <p class="help-text">{{ field.help_text }} </p>
                                </div>
                            {% endfor %}
                            <div class="d-grid">
                                <input type="submit" value="Register" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}