{% extends 'base/school_base.html' %}
{% block head %}<title>Timetable - Kangaroo Music</title>{% endblock %}
{% block school_body %}
    <div class="container">
        <h1><b>Timetable</b></h1>
        <p>You can see your up and coming classes here.</p>
        <hr class="border border-dark border-2 opacity-100">

    </div>
    <div class="mt-2 container">
        <ul class="list-group list-group-light">
            <h5>Upcoming</h5>
            {% for l in lessons %}
                {% if l.fulfilled is True %}
                    {% if l.teacher == user %}
                        <li class="list-group-item d-flex justify-content-between align-items-start px-2 rounded-3 mb-3 shadow-sm">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold mb-2">{{ l.title }} - {{ l.instrument }} with {{ l.student }}</div>
                                <p class="text-muted mb-2">{{ l.information }}</p>
                            </div>
                            <i class="bi bi-calendar" style="padding-right: 5px;"></i> {{ l.day }} &nbsp;
                            <i class="bi bi-clock-fill" style="padding-right: 5px;"></i>At {{ l.time }} for {{ l.duration }}m &nbsp;
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
