{% extends 'base/school_base.html' %}
{% block head %}<title>Bookings - Kangaroo Music</title>{% endblock %}
{% block school_body %}
    <div class="container">
        <h1><b>Lessons & Bookings</b></h1>
        <hr class="border border-dark border-2 opacity-100">
    </div>
    <br>
    <div class="mt-2 container">
        <ul class="list-group list-group-light">
            <h5>Awaiting to be fulfilled</h5>
            {% for l in lessons %}
                {% if l.fulfilled is False %}
                    {% include 'partials/lesson.html' with l=l %}
                {% endif %}
            {% endfor %}
        </ul>
        &nbsp;
        <ul class="list-group list-group-light">
            <h5>Fulfilled Lessons</h5>
            {% for l in lessons %}
                {% if l.fulfilled is True %}
                    {% include 'partials/lesson.html' with l=l %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}
