{% extends 'base/school_base.html' %}
{% block head %}<title>Bookings - Kangaroo Music</title>{% endblock %}
{% block school_body %}
    <div class="container">
        <h1><b>Lessons & Bookings</b></h1>
        <hr class="border border-dark border-2 opacity-100">
    </div>
    <br>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    Awaiting to be fulfilled
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% for l in lessons %}
                        {% if l.fulfilled is False %}
                            {% include 'partials/lesson.html' with l=l %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Fulfilled Lessons
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% for l in lessons %}
                        {% if l.fulfilled is True %}
                            {% include 'partials/lesson.html' with l=l %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}


