{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1>Modify this Lesson Request</h1>
        <p><i>Will be made more user-friendly soon!</i></p>
        {% for message in messages %}
            <p>
                <b>{{ message }}</b>
            </p>
        {% endfor %}
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Modify">
        </form>
    </div>
{% endblock %}