{% extends 'base/school_base.html' %}
{% block head %}<title>Modify Lesson - Kangaroo Music</title>{% endblock %}
{% block school_body %}
    <div class="container">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-lg-5">
              <div class="card shadow">
                <div class="card-title text-center border-bottom">
                  <h2 class="p-3"><b>MODIFY LESSON</b></h2>
                </div>
                    {% include 'partials/form.html' with form=form %}
              </div>
            </div>
        </div>
    </div>
{% endblock %}