{% extends 'base/school_base.html' %}
{% block head %}<title>Lessons - Kangaroo Music</title>{% endblock %}
{% block school_body %}

<div class="container">
    <h1><b>Lessons</b></h1>
    <p>Sign up to lessons here and view any pending requests or bookings you may have for you or your children.</p>
    <hr class="border border-dark border-2 opacity-100">
    <a class="btn btn-primary" href="{% url 'request_lesson' school.id %}">Request Lesson</a>
</div>
&nbsp;
<div class="mt-2 container">
    <ul class="list-group list-group-light">
        <h5>Unfulfilled Lessons</h5>
        {% for l in lessons %}
            {% if l.fulfilled is False %}
                {% include 'partials/student_lesson.html' with l=l %}
            {% endif %}
        {% endfor %}
    </ul>
    &nbsp;
    <ul class="list-group list-group-light">
        <h5>Fulfilled Lessons</h5>
        {% for l in lessons %}
            {% if l.fulfilled is True %}
                {% include 'partials/student_lesson.html' with l=l %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}