{% extends 'base/base.html' %}
{% block head %} {% include 'partials/navbar.html' %} {% endblock %}
{% block body %}

    <div class="row">
        <div class="col">
            {% include 'partials/school_group.html' with school=school %}
        </div>
        <div class="col-6">
            {% for group in user.groups.all %}
                {% if group.name == "Student" %}
                    {% include 'home/student_home.html' %}
                {% elif group.name == "Administrator" %}
                    {% include 'home/administrator_home.html' %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col">
        </div>
    </div>

{% endblock %}
