<div class="container">
    <h2>Lessons</h2>
    <p>Sign up to lessons here and view any pending requests or bookings you may have.</p>
    <hr class="border border-dark border-2 opacity-100">

    <a class="btn btn-primary" href="{% url 'request_lesson' %}">Request Lesson</a>
</div>
&nbsp;
<div class="mt-2 container">
    <ul class="list-group list-group-light">
        <h5>Unfulfilled Lessons</h5>
        {% for l in lessons %}
            {% if l.fulfilled is False %}
                <li class="list-group-item d-flex justify-content-between align-items-start px-2 rounded-3 mb-3 shadow-sm">
                    <div class="ms-2 me-auto">
                        <span class="badge rounded-pill mb-2" style="background-color: orange;">REQUESTED</span>
                        <div class="mb-2">
                            <b>{{ l.title }} - {{ l.instrument }}</b> with Teacher for {{ l.duration }}m
                            {% if l.information %}
                            - <span class="text-muted">{{ l.information|truncatechars:140}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-light btn-sm rounded-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'modify_lesson' l.id %}"><i class="bi bi-pencil"></i>&nbsp;Modify</a></li>
                            <li><a class="dropdown-item text-danger" href="#"><i class="bi bi-trash3"></i>&nbsp;Delete</a></li>
                        </ul>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    &nbsp;
    <ul class="list-group list-group-light">
        <h5>Fulfilled Lessons</h5>
        {% for l in lessons %}
            {% if l.fulfilled is True %}
                <li class="list-group-item d-flex justify-content-between align-items-start px-2 rounded-3 mb-3 shadow-sm">
                    <div class="ms-2 me-auto">
                        <span class="badge rounded-pill bg-success mb-2">BOOKED</span>
                        <div class="mb-2">
                            <b>{{ l.title }}</b> with Teacher for {{ l.duration }}m - £{{ l.price|floatformat:2 }} 
                            {% if l.information %}
                            - <span class="text-muted">{{ l.information|truncatechars:140}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-light btn-sm rounded-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'booking_invoice' l.id %}"><i class="bi bi-receipt"></i>&nbsp;View Invoice</a></li>
                            <li><a class="dropdown-item text-danger" href="#"><i class="bi bi-trash3"></i>&nbsp;Delete</a></li>
                        </ul>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
&nbsp;
<div class="mt-2 container">
    <h3>Recent Transactions</h3>
    <hr>
    <ul class="list-group list-group-light">
        {% for transfer in transfers %}
            <li class="list-group-item d-flex justify-content-between align-items-start px-2 rounded-3 mb-3 shadow-sm">
                <div class="ms-2 me-auto">
                    <span class="badge rounded-pill bg-success mb-2">PAID</span>
                    <div class="fw-bold mb-2">{{ transfer.user.id }}-{{ transfer.lesson.id }}</div>
                    <p class="text-muted mb-2">Successful Transfer: £{{ transfer.amount }}</p>
                </div>
            </li>
        {% endfor %}
        <!--
        {% for curLesson in lessons %}
            <li class="list-group-item d-flex justify-content-between align-items-start px-2 rounded-3 mb-3 shadow-sm">
                <div class="ms-2 me-auto">
                    {% if curLesson.paid is True %}
                        <span class="badge rounded-pill bg-success mb-2">PAID</span>
                        <div class="fw-bold mb-2">{{ curLesson.title }}</div>
                        <p class="text-muted mb-2">Successful Transfer: £{{ curLesson.price }}</p>
                    {% else %}
                        <span class="badge rounded-pill bg-warning mb-2">PENDING</span>
                        <div class="fw-bold mb-2">{{ curLesson.title }}</div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        -->
    </ul>
</div>
